<div class="login-wrapper">
    <div class="card text-center" id="login-card">
        <div class="card-header blogHeader">
            Log In
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label class="form-label">Username</label>
                <input class="form-control" id="loginUsername">
            </div>
            <div class="mb-3 row">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input class="form-control" id="loginPassword">
            </div>
            <button type="submit" class="btn btn-primary customBTN" id="loginSubmit">Log In</button>
        </div>
        <div class="card-footer text-muted blogHeader">
        </div>
    </div>
</div>
<script src="/scripts/login.js"></script>