<div class="login-wrapper">
    <div class="card text-center" id="login-card">
        <div class="card-header blogHeader">
            Enter Credentials Below to Sign-Up!
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label class="form-label">Username</label>
                <input class="form-control" id="signUpUsername">
            </div>
            <div class="mb-3 row">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input class="form-control" id="signUpPassword">
            </div>
            <div class="mb-3 row">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input class="form-control" id="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary customBTN" id="signUpButton">Sign-Up</button>
        </div>
        <div class="card-footer text-muted blogHeader">
            Already have an account? <a href="/login">Log in</a> instead
        </div>
    </div>
</div>
<script src="/scripts/signup.js"></script>